/* --------------------------GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
  line-height: 1.4;
}

/* --------------------------THE PRODUCT BOX */
.product-box {
  max-width: 810px;
  margin: 100px auto;
  border: 5px solid #211d1c;
}

/* --------------------------THE HEAD */
.product-name {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #eee;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.product-img {
  width: 240px;
}

/* --------------------------THE INFO SECTION */

/* Price Box */
.product-price {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.2px;
}
.delivery-facility {
  color: #777;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Product Description---- */
.product-description {
  font-size: 16px;
}

/* links---- */
.more-info:link,
.more-info:visited {
  color: #211d1c;
  font-size: 18px;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* --------------------------THE COLORS SECTION */
.avl-colors li {
  width: 20px;
  height: 20px;
  cursor: pointer;
  gap: 5px;
  list-style: none;
}

.black-c {
  background-color: black;
}
.blue-c {
  background-color: blue;
}
.red-c {
  background-color: red;
}
.yellow-c {
  background-color: yellow;
}
.green-c {
  background-color: green;
}
.brown-c {
  background-color: brown;
}

/* --------------------------THE PRODUCT DETAILS SECTION */
.product-details {
  font-size: 18px;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.details {
  font-size: 16px;
  list-style: square;
  padding-left: 20px;
}

/* --------------------------THE CALL TO ACTION SECTION */

.call-to-action {
  text-transform: uppercase;
  background-color: black;
  border: none;
  color: whitesmoke;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  border-top: 5px solid #211d1c;
}

.call-to-action:hover {
  background-color: white;
  color: #211d1c;
  border-top: 5px solid #211d1c;
}

/* ----------------------FLOATS LAYOUT*/
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.info-box {
  float: left;
  width: 240px;
  margin-right: 40px;
}

.detail-box {
  float: right;
  width: 240px;
  margin-top: 10px;
}

.avl-colors li {
  float: left;
  margin-right: 12px;
}

.delivery-facility {
  float: right;
} */

/* ----------------------FLEXBOX LAYOUT*/
/* .flex-container {
  display: flex;
  gap: 40px;
  flex: 1 0 240px;
} */

.price-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 0 240px;
}

.avl-colors {
  display: flex;
  gap: 12px;
}

.detail-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ----------------------GRID LAYOUT*/

.product-box {
  display: grid;
  grid-template-columns: 240px 1fr 1fr;
  column-gap: 40px;
}

h1 {
  grid-column: 1/-1;
}

button {
  grid-column: 1/-1;
}
